@media (max-width: 991.98px) {
    .roadmap {
        height: 1800px;
    }

    .roadmap__q_ul {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #ffffff;
        opacity: 0.8;
    }
    .roadmap__q_li {
        padding-bottom: 5px;
    }

    .roadmap__q_title {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #ffffff;
    }

    .roadmap__q_more {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 145%;
        text-transform: capitalize;
        color: #ffffff;
    }

    .roadmap__q1 {
        position: relative;
        width: 370px;
        top: 170px;
        left: calc(50% - 180px);
    }

    .roadmap__q2 {
        position: relative;
        width: 370px;
        top: 230px;
        left: calc(50% - 180px);
    }

    .roadmap__q3 {
        position: relative;
        width: 370px;
        top: 350px;
        left: calc(50% - 180px);
    }

    .roadmap__q4 {
        position: relative;
        width: 370px;
        top: 420px;
        left: calc(50% - 180px);
    }

    .roadmap__q_more {
        text-align: left;
    }

    .roadmap__q2 .roadmap__q_more {
        text-align: center;
    }

    .hero {
        height: 341px;
    }
    .hero__title {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 140%;
        /* or 36px */
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
    .hero__desc {
        font-family: "Plus Jakarta Sans";
        font-style: italic;
        font-weight: 200;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */
        text-transform: uppercase;
        color: #ffffff;
        font-family: "HeliosBlackC";
        font-style: normal;
        font-weight: 900;
        font-size: 16.2189px;
        line-height: 145%;
        /* identical to box height, or 24px */

        color: #ffffff;
    }
    .hero__button {
        width: 188.32px;
        height: 54.06px;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
    }

    .navbar-collapse.show ul.navbar-nav {
        justify-content: flex-start;
    }

    .brands__desc {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }

    .brands__h3 {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 109%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    .brands__card_title {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }

    .brands__card_desc {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
        opacity: 0.6;
    }

    .vrgame {
        z-index: 10;
        transform: rotate(-9.09deg);
        position: relative;
        width: 120vw;
        top: -60px;
        left: -50px;
        background-color: #000;
    }

    .vrgame__title {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 52.3911px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
        text-transform: uppercase;
        white-space: nowrap;
        background: rgba(255, 255, 255, 0.04);
    }

    .vrgame__desc {
        font-family: "HeliosExtC";
        font-style: normal;
        font-weight: 700;
        font-size: 18.8608px;
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.01em;
        background: linear-gradient(90deg, #21fcff 0%, #fd40ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        background-color: black;
    }

    .game__image {
        display: none;
    }

    .footer__contac {
        padding: 20px;
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 10.1818px;
        line-height: 140%;
        text-align: center;
    }

    .end__three {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 85.1404px;
        line-height: 130%;
        color: #ffffff;
    }

    .end__planet {
        width: 44px;
        height: 44px;
    }

    .end__one {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #ffffff;
    }
}

@media (max-width: 1300px) {
    .pers2 {
        display: none;
    }
}
