body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        180deg,
        rgba(36, 10, 92, 0.63) 8.97%,
        rgba(36, 11, 88, 0.3) 100%
    );
    backdrop-filter: blur(150px);
}

.navbar {
    height: 110px;
}

body {
    background-color: black;
}

.nav-logo {
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

body {
    overflow-x: hidden;
}

.first_scren {
    background-image: url("../img/Hero.png");
    height: 100vh;
    min-height: 460px;
    object-fit: contain;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.container,
.container-fluid {
    max-width: 1640px;
}

.hero__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
}

.hero__title {
    font-family: "Biryani";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
}

.hero__button {
    font-family: "HeliosBlackC";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 145%;
    color: #ffffff;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #ffffff;
    border: none;
    border-radius: 6px;
    width: 209px;
    height: 60px;
}

.hero__button:hover {
    background-color: linear-gradient(98.73deg, #4642f4 0%, #7a42f4 100%),
        #ffffff;
    transition: background-color 0.5s ease-in-out;
}

.hero {
    max-height: 509px;
    padding: 0;
}

.hero__row {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.hero__container {
    height: calc(100vh - 110px);
}

.about {
    background-image: url("../img/about.png");
    height: 100vh;
    min-height: 700px;
    max-width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.about__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.about__container,
.about__row {
    height: 100%;
}

.about__block {
    max-width: 774px;
}

.about__profile {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
}

.about__title {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 109%;
    text-transform: uppercase;
    color: #ffffff;
    margin: 16px 0;
}

.about__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #ffffff;
}

.about__img {
    padding: 0;
    margin: 0;
    margin-top: 64px;
}

.roadmap {
    background-image: url("../img/roadmap.png");
    height: 2174px;
    max-width: 1912px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.roadmap__container {
    height: 100%;
}

.roadmap__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-bottom: 20px;
}

.roadmap__h3 {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 109%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.roadmap__title {
    padding-top: 50px;
}

.roadmap__q1 {
    position: relative;
    width: 479px;
    left: calc(50% - 50px);
    top: 100px;
    color: #ffffff;
}

.roadmap__q2 {
    position: relative;
    width: 479px;
    left: calc(50% - 400px);
    top: 200px;
    color: #ffffff;
}

.roadmap__q3 {
    position: relative;
    width: 479px;
    left: calc(50% - 70px);
    top: 230px;
    color: #ffffff;
}

.roadmap__q4 {
    position: relative;
    width: 479px;
    left: calc(50% - 370px);
    top: 450px;
    color: #ffffff;
}

.roadmap__q_title {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #ffffff;
}

.roadmap__q_ul {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #ffffff;
    opacity: 0.8;
    list-style-position: outside;
    padding-left: 25px;
}

.roadmap__q_li {
    padding: 0;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
    padding-left: 5px;
}

.roadmap__q_more {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 145%;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.roadmap__q_li:before {
    content: url("../img/li.svg");
    position: absolute;
    top: 2px;
    left: -25px;
}

.brands {
    position: relative;
    /* height: 100vh; */
    background-image: linear-gradient(
        180deg,
        rgba(36, 10, 92, 0.63) 8.97%,
        rgba(36, 11, 88, 0.3) 100%
    );
    backdrop-filter: blur(150px);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.brands::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 19px,
        rgba(255, 255, 255, 0.03) 19px,
        rgba(255, 255, 255, 0.03) 20px
    );
}

.brands__title {
    padding: 50px 0;
    width: 374px;
}

.brands__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.brands__h3 {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 109%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.brands__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.brands__card {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 385px;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.guardians {
    margin: 50px 0;
    width: 90%;
    max-width: 385px;
    height: 6px;
    background: #06d6df;
    box-shadow: 0px 0px 4px rgba(56, 219, 255, 0.5);
    border-radius: 48px;
}

.sankofa {
    margin: 50px 0;
    width: 90%;
    max-width: 385px;
    height: 6px;
    background: #7b71ee;
    box-shadow: 0px 0px 4px rgba(56, 219, 255, 0.5);
    border-radius: 48px;
}

.ecosystem {
    margin: 50px 0;
    width: 90%;
    max-width: 385px;
    height: 6px;
    background: #f00afe;
    box-shadow: 0px 0px 4px rgba(56, 219, 255, 0.5);
    border-radius: 48px;
}

.brands__card_title {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.brands__card_desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    opacity: 0.6;
}

.brands__img {
    max-width: 331px;
    width: 90%;
}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        180deg,
        rgba(36, 11, 88, 0.3) 8.97%,
        rgba(36, 10, 92, 0.63) 100%
    );
    backdrop-filter: blur(150px);
}

.resources__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.resources__title {
    padding: 50px 0;
    /* width: 374px; */
}

.resources__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.resources__h3 {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 140%;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.resources__block_title {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 109%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.resources__block_desc {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 30px 0;
}

.resources__block_img {
    max-width: 770px;
    width: 90%;
}

.resources__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 570px;
    width: 90%;
}
.resources__block_logo {
    width: 60px;
    margin-bottom: 40px;
}

.resources__block_button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 16px 24px;
    width: 254px;
    height: 60px;
    background: linear-gradient(98.73deg, #7a42f4 0%, #4642f4 100%), #ffffff;
    border-radius: 6px;
    font-family: "HeliosBlackC";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 145%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.vrgame {
    z-index: 10;
    transform: rotate(-9.09deg);
    position: relative;
    width: 120vw;
    top: -70px;
    left: -100px;
    background-color: #000;
}

.vrgame__title {
    font-family: "HeliosExtC";
    overflow: hidden;
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.04);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.vrgame__desc {
    font-family: "HeliosExtC";
    overflow: hidden;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.01em;
    background: linear-gradient(90deg, #21fcff 0%, #fd40ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: nowrap;
    text-fill-color: transparent;
}

.game {
    position: relative;
    overflow: hidden;
    top: -250px;
    background-image: url("../img/gameback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 120vh;
}

.game__g {
    position: relative;
    top: 50px;
}

.game__block_img {
    height: 500px;
}
.games__block {
    justify-content: space-between;
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__desc {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__h3 {
    font-family: "HeliosExtC";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 109%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__social {
    justify-content: center;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.end {
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-top: 1px #fff solid;
}

.end__one {
    display: flex;
    flex-direction: column;
    border: none;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #ffffff;
    justify-content: flex-end;
    padding-right: 15px;
}

.end__two {
    display: flex;
    flex-direction: column;
    border: 1px #fff solid;
    border: none;
}
.footer__contac {
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #ffffff;
    padding: 62px;
}

.end__three {
    text-align: rights;
    max-width: 700px;
    width: 60%;
    overflow: hidden;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 165.447px;
    line-height: 130%;
    color: #ffffff;

    display: flex;
    flex-direction: column;
}

.con2 {
    border-bottom: none;
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    border-top: 1px #fff solid;
}

.end__planet {
    height: 58px;
    width: 58px;
}

